[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
discord-py = ">=1.6.0"

[requires]
python_version = "3.7"

[scripts]
runbot = "python bot/ellibot.py"
test = "pytest"
